*{
    box-sizing: border-box; 
    line-height: 1.5;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-color: #e6e6e6;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}

img{
    display: block;
}

a:link{
    text-decoration: none;
}

header{
    margin-bottom: 2rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

header a:link{
    text-decoration: none;
}

header h1{
    font-size: 2.5vw;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
    margin: 0;
}

header h2{
    text-transform: uppercase;
    margin: 0.5rem 0;
}


hr{
    border: 1px solid red
}
 /* background-image: -webkit-linear-gradient(90deg, red, yellow, green);
    background-image: -moz-linear-gradient(90deg, red, yellow, green);
    background-image: -o-linear-gradient(90deg, red, yellow, green);
    background-image: linear-gradient(90deg, red, yellow, green); */
.gallery{
    position: relative;
    align-items: flex-start;
    justify-content: left;
    padding: 1.5rem 5rem;
    width: 100%;
    height: 10rem;
    overflow: hidden;
    margin: 0;
    background-color: black;
}


.logo, .imglink{
    margin: 0;
    min-width: 7rem;
    min-height: auto;
    object-fit: contain;
    width: 200px; /* For older browsers */
    width: 14vw; /* For newer browsers */
    height: auto;
}

header .headcontent{
    /* border: 1px solid; */
    margin: 0 2rem;
    align-items: flex-start;
    width: 100%;
}

header .headcontent h1{
    font-size: 2.8rem;
    font-weight: 500;
}

header .headcontent.js-enabled{
    position: absolute;
    width: calc(100% - 10rem);
}

.headcontent .motto{
    font-size: 1.4rem;
    text-shadow: 1px 1px 1px rgba(138, 138, 138, 0.53);
}

.navlinks{
    justify-content: center;
    margin-top: 1.8rem;
    flex-wrap: wrap;
    font-size: 1.6rem;
    /* border: 1px solid; */
    width: 100%;
    /* font-size: 1.3vmax; */
}

.navlinks > *{
    margin: 0.5rem 1%;
    color: black;
    padding: 0 3px;
    background-color: white;
    border-radius: 1px;
    transition: all 0.3s ease;
}

.navlinks > *:hover{
    color: dodgerblue;
    transform: scale(1.02);
}

.hanglinks{
    background-color: #c50505;
    justify-content: center;
    font-size: 1.4rem;
    padding: 1rem;
    width: 100%;
    align-items: center;
    /* font-size: 1.3vmax; */
}

.hanglinks > *{
    text-align: center;
    margin: 0.5rem 1%;
    color: white;
    padding: 0 3px;
    border-radius: 1px;
    transition: all 0.3s ease-in;
}

.hanglinks > *:hover{
    color: dodgerblue;
    transform: scale(1.05);
}

.hanglinks > *.active{
    color: yellow;
    transform: scale(1.1);
}

main .notice{
    display: block;
    max-width: 70%;
    background-color: rgba(0, 128, 0, 0.85) !important;
    padding: 1rem 2.5rem;
    margin: 0 15%; /* For older browsers */
    margin: auto; /* For new browsers */
    margin-bottom: 1rem;
    font-size: 1.1rem;
    border-radius: 3px;
}

main .notice a:link, main .notice a:visited{
    text-decoration: underline;
    font-weight: 500;
    color: orange;
}

h3{
    margin: 2.5rem 0 0 0;
    padding: 0.1rem 0.5rem;
    background-color: red;
    font-weight: 500;
}

.red{
    color: red;
}

.bg-red{
    background-color: red;
}

.green{
    color: green;
}

.bg-green{
    background-color: green;
}

.yellow{
    color: yellow;
}

.bg-yellow{
    background-color: yellow;
}

.blue{
    color: dodgerblue;
}

.bg-blue{
    background-color: dodgerblue;
}

.orange{
    color: orange;
}

.bg-orange{
    background-color: rgb(255, 153, 0);
}

.logo{
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0 0.5rem;
}

.icon{
    color: white;
}

.btn{
    display: block;
    margin: 0;
    padding: 1rem;
    font-size: 1.2rem;
}

.btn:hover, a:link:hover{
    cursor: pointer;
}

.grid{
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
}

.rows{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.fill-container{
    width: 100%;
}

.lg-5{
    width: 5%;
}

.lg-10{
    width: 10%;
}

.lg-15{
    width: 15%;
}

.lg-20{
    width: 20%;
}

.lg-25{
    width: 25%;
}

.lg-30{
    width: 30%;
}

.lg-35{
    width: 35%;
}

.lg-40{
    width: 40%;
}

.lg-50{
    width: 50%;
}

.lg-55{
    width: 55%;
}

.lg-60{
    width: 60%;
}

.lg-65{
    width: 65%;
}

.lg-70{
    width: 70%;
}

.lg-80{
    width: 80%;
}

.lg-90{
    width: 90%;
}

.lg-100{
    width: 100%;
}

.bgcover{
    top: -120vmax; z-index: +999; background-color: rgba(0, 0, 0, 0.65); width: 100vw; height: 100vh; position: fixed; align-items: center; justify-content: center;
}

footer{
    /* border: 1px solid; */
    color: #ccc;
    width: 100%;
    min-width: 300px;
    min-height: 10rem;
    margin: 3.5rem auto 0;
    padding: 2rem 3rem;  
    font-size: 1.2rem;
    justify-content: space-between;
    background-color: black;
}

footer .top{
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .top > *{
    margin: 1rem 2rem 2rem;
}

footer .bottom{
    justify-content: center;
    align-items: center;
}

footer .footer-logo{
    width: 20rem;
    height: auto;
    margin-bottom: 1.5rem;
}

footer a:link{
    display: block;
    margin: 0.5rem 1rem;
    text-decoration: none;
}

footer a:link, footer a:visited{
    color: #888;
}

footer big{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

@media only screen and (max-width:800px){

    main .notice{
        max-width: 95%;
    }

    .logo, .imglink{
        margin: 0;
        min-width: 7rem;
        min-height: auto;
        object-fit: contain;
        width: 220px; /* For older browsers */
        width: 20vw; /* For newer browsers */
        height: auto;
    }

    header .headcontent{
        align-items: flex-start;
    }

    header .headcontent > *:first-child, header .headcontent > *:nth-child(2), header .headcontent > *:nth-child(4){
        padding-left: 1rem;
    }

    header .navlinks{
        margin-left: -4.5rem;
    }

    header .headcontent h1{
        font-size: 2.5rem;
    }

    .hanglinks > *{
        font-size: 2.5vmin;
        margin: 0.5rem 2%;
    }

    h3{
        padding: 0.4rem 1rem;
        font-weight: 400;
    }

    footer{
        padding: 2rem 1rem;
    }
}

@keyframes rolling{
    0%{
        transform: rotateZ(0deg);
    }

    100%{
        transform: rotateZ(360deg)
    }
}
